.App-jumbotron {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Location {
  font-size: large;
}

.Prompt {
  font-size: large;
}

.Item-header {
    font-size: large;
}

.Auth {
  font-size: medium;
  text-align: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
